{% extends 'base.html' %}
{% load static %}
{% block title %}All Wine Posts{% endblock %} 
{% block content %}
<div class="container wine-container text-center">
  <h1>Wine Project</h1>
  <p>
    A swirling, sipping, storytelling journey through the curious world of wine!
  </p>

  <div class="d-flex justify-content-center gap-3 mb-4">
    <button class="btn btn-success" type="button">
      <a href="{% url 'blog' %}" class="text-decoration-none text-white"
        >Blog</a
      >
    </button>
    <button class="btn btn-outline-success" type="button">
      <a href="{% url 'register' %}" class="text-decoration-none text-white"
        >Create Post</a
      >
    </button>
  </div>

  <div class="mt-4">
    {% for post in wine_posts %} {% if post.slug %}
    <a href="{% url 'blog' post.slug %}" class="post-link d-block"
      >{{ post.title }}</a
    >
    {% else %}
    <span>Post has no slug</span>
    {% endif %} {% endfor %}
  </div>
</div>
{% endblock content %}
