* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
}
body{
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

main {
    flex: 1;
}

header {
    background-color: #1f723c;
    color: white;
    padding: 10px 20px;
}

.container.wine-container.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.container h1 , .container p{
    color: white;
}

.logo{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.wine-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.wine-card{
    background-color: #1f723c;

}
.wine-title{
    color: azure;
}

footer {
    background-color: #1f723c;
    color: white;
    padding: 20px;
}
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}