<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content=" Wine Project is a platform that provides personalised wine recommendations based on your taste preferences. Discover new wines, read reviews, and enhance your wine tasting experience."
    >
    <meta
      name="keywords"
      content="wine recommendations, personalised wines, Wine Project, wine tasting, wine reviews"
    >
    <meta name="author" content="Amandio Dinarte Orepolo">
    <title>Wine Project</title>
</head>
<body>
    
</body>
</html>